/* Guidelines 
- styles which relate to structural elements (content) like the font color should be added to the structural element
- styles which relate to positioning, borders etc. shoul be added to the related class
- spacing which are needed beteen two elements are added consequently at the top margin of the second element. 
  respecitvely the very first element which needs a smalle/larger margin is added another margin
*/

.mflo-birthday-board {
    border: 2px darkblue solid;
    border-radius: 0.5em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0em;
    margin-inline-end: 1em;
    padding: 0.2em 1em 0.2em 0.2em;
    background-color: whitesmoke;
  } 

  /* print styles */

@media print {
  .mflo-birthday-board {
    background-color: white;
    border: 0px black solid;
    column-count: 3;
  }
}