/* Guidelines 
- styles which relate to structural elements (content) like the font color should be added to the structural element
- styles which relate to positioning, borders etc. shoul be added to the related class
- spacing which are needed beteen two elements are added consequently at the top margin of the second element. 
  respecitvely the very first element which needs a smalle/larger margin is added another margin
*/

.mflo-birthday-month {
  margin-block-start: 0.2em;
  margin-block-end: 0em;
  margin-inline-start: 0.0em;
  margin-inline-end: 0.0em;
  margin-right: 0px;;
  padding: 0em 0.5em 0.2em 0.5em;
  border-top: 0px  rgb(91,107,245) dotted;
  /* border: 1px red dotted; */
}

/* print styles */
@media print {
  .mflo-birthday-month {
    break-inside: avoid;
  }
}
