/* Guidelines 
- styles which relate to structural elements (content) like the font color should be added to the structural element
- styles which relate to positioning, borders etc. shoul be added to the related class
- spacing which are needed beteen two elements are added consequently at the top margin of the second element. 
  respecitvely the very first element which needs a smalle/larger margin is added another margin
*/

.stzh-mk-birthday {
  margin-block-start: 0.0em;
  margin-block-end: 0em;
  margin-inline-start: 0.4em;
  margin-inline-end: 0.2em;
  padding: 0.0em 0.0em 0.0em 0.0em;
  border: 0px rgb(1, 31, 4) dotted;
}

.stzh-mk-birthday-with-age {
  margin-block-start: 0.0em;
  margin-block-end: 0em;
  margin-inline-start: 0.4em;
  margin-inline-end: 0.2em;
  padding: 0.0em 0.0em 0.0em 0.0em;
  border: 0px rgb(1, 31, 4) dotted;
}
